.list-unstyled {
   margin-top: 15px;
   img {
      height: 40px;
      width: 40px;
      border: 1px solid #ccc;
      border-radius: 30px;
   }

   .small-text {
      margin: 0;
      font-size: 12px;
      font-weight: 100;
   }
}
