.container {
   margin-top: 50px;

   .small-heading {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 1px;
   }

   .btn-gotoTop {
      position: fixed;
      bottom: 50px;
      right: 40px;
      padding: 10px;
   }
}
